<p>Hi,</p>

<p>Time to book another meeting with your mentor, if you haven’t already.
  
<p>Their email is:</p>

<p><b><%= link_to @mentor&.email || "nope", "mailto:#{@mentor&.email}" %></b></p> 

<h2>What is experience?</h2>

<p>A thing to think about this month.</p>

<p>We can agree or disagree about the specific definitions of "Imposter Syndrome" but there’s no doubt that in the early stages of our career, or in a new situation, we are all prone to doubt our own place and idealise the expertise of others.</p>

<p>This is probably very true in your current career situation and particularly in a situation where you’re looking at a mentor to bestow some wisdom.</p>

<p>Now all the mentors in this programme have more experience you you currently do. But they are real people. And they don’t know everything, so as much as you should try and extract the nuggets of genius from their experience, you should bear in mind... that they are just normal folks too.</p>

<p>Don’t be intimidated that you’re wasting their time or asking "stupid" questions. You aren’t. And they volunteered for this!</p>

<p>Feel free to ask about mistakes they’ve made in their career and see if you can avoid them in your programming life!</p>

<p>Let me know how it's going!</p>

<p>I’d love to hear about the discussions you’re having. Let me know about any of the following and I can tailor these emails to help the next group of folks through the programme:</p>

<ul>
  <li>Specific challenges you are facing.</li>
  <li>Areas of Ruby, Rails and programming in general that you find puzzling.</li>
  <li>Resources and recommendations that have really helped you.</li>
</ul>

<p><b>Just hit reply!</b> Speak soon.</p>
