<p>Hey there,</p>

<p>Their email is:</p>

<p><b><%= link_to @mentor&.email || "nope", "mailto:#{@mentor&.email}" %></b></p> 

<h3>Learning</h3>

<p>In your early career it’s important to be constantly learning. The good news is, pretty much everything you do—successes or mistakes—will be an opportunity to learn! And that’s what your mentor is here to help you to do.</p>

<p>For your part it’s important to do two things:</p>

<h2>1. Learn how you best learn</h2>

<p>For me, it’s always been a combination of books and trying things out in real projects, I’ve always enjoyed the clarity that’s forced by the editing of a good book, but a techniqueue remains theoretical until I can get it in to my "hands" and use it.</p>

<p>For some folks, it’s reading documentation, for some it’s short videos for some it’s guided programming exercises.</p>

<p>Think back to the last time you felt that intoxicating rush</p>

<h2>2. Intentionally focus</h2>

<p>A mentor emailed me back with some resources they recommended and almost as an aside they chucked in the comment that they’d recommended  to their #rubyfriend that they “minimise the number of things you're trying to learn at a time”.</p>

<p>This is <i>such</i> good advice.</p>

<p>It’s so easy in the early part of your career to look at all the things people tell you that you HAVE to understand, learn, become an expert in. But honestly, that’s nonsense. You’ll get there, but the way you do it is to do things step by step and build on your existing knowledge.

<p>Don’t start React when you’re only just getting a Rails app to work. Don’t investigate DevOps when you can just push to a service like Heroku, Render or Fly.io. Don’t worry about exploring all the design patterns as a broad topic. Try to find one that’ll really help you with a current real problem.</p>

<p>It’s too easy to be overwhelmed and you’re going to be learning forever. This is the natural state of being a software engineer, always solving new problems. So do what you need to take the next step, try not to worry about the next thousand, those will happen anyway.</p>

<p>Let me know how it’s going!</p>

<p>Just hit reply! Speak soon.</p>
