<p>Hi there,</p>

<p>It's me again to remind you to book another meeting with your mentor.</p>

<p>Their email is:</p>

<p><b><%= link_to @mentor&.email || "nope", "mailto:#{@mentor&.email}" %></b></p> 

<p>Hopefully you have already met. If you haven't managed to sort it out, get on it. If you mentor has been unresponsive, please let me know and I'll find you someone else in the next batch and we can try again.</p>

<p>Right, onto the next phase of this thing. Hopefully your mentor was nice and your chatted a bit, but I imagine it might have felt a little aimless.</p>

<p>How can we fix that?</p>

<p>One simple answer.</p>

<p><b>Have a goal in mind.</b></p>

<p>What are you hoping to get out of this mentorship? Here's some ideas:</p>

<h3>You want to get a job.</h3>

<p>Are you pre-your first Ruby job? Does your CV need work? Do you want to know how to come across well at interview?</p>

<h3>You want to understand an area of programming better.</h3> 

<p>Maybe you’re really unclear about testing? Perhaps you want to know in ins and outs of the Ruby on Rails magic.</p>

<h3>You have a problem with a specific piece of code.</h3>

<p>Maybe you can use your mentor as a particularly animated and non-sarcastic version of Stack Overflow. Why not pair with them every month on a specific thing you're having trouble with and learn in one of the most natural ways possible: working together.</p>

<p><b>You might have your own goal that's different to one of these too.</b> So chose that. This mentoring is for you after all.</p>

<p>The thing about goals though is that they have to be useful. So:</p>

<h3>Have a realistic timeline AND use that to break the goal down into manageble steps.</h3> 

<p>Don't necessarily feel like the goal has to be small and completeable in itself, but know that the broken down bits should be achievable.</p> 

<p>Remember that making progress toward the goal is good, you don't have to finish it in this mentoring process. BUT in order to get the most out of this period (and you mentor's time) you should be looking to always keeping your focus on doing things that'll help you (and your mentor) with your goals.</p> 

<p>Even if you have quite a loose goal it might be a good strategy if you try and think about "how you’ll know you were successful or your mentor was useful” at the end of your chats.</p>

<p>Get to it.</p>
