<p>Hey there!</p>

<p>I'm <a href="https://andycroll.com">Andy</a> from <a href="https://firstrubyfriend.org">First #RubyFriend</a>, a volunteer effort to get new folks to meet experienced Ruby programmers.</p> 

<p>You (hopefully within the last month or so if I'm doing this right) signed up to find a mentor from the Ruby community to help you find your feet in your software engineering career.</p>

<p><b>You’ve been matched!</b></p>

<p>Their email is:</p>

<p><b><%= link_to @mentor&.email || "nope", "mailto:#{@mentor&.email}" %></b></p> 

<p>I recommend that you get in touch with them as soon as you can and book your first half hour chat. They've committed to six sessions over the next six months.</p>

<p>I suggest you include a little bit about where you are in your coding journey in your introduction email.</p>

<p>Some things to bear in mind abut this whole arrangement.</p>

<p>Start by contacting your mentor now even if you're concerned you “don’t really need help” or are a bit lost on how to start things. That's a <i>false belief</i> and the mentors have volunteered to help.</p>

<h2>1. Give thanks!</h2>

<p>Be sure to thank your mentor! They have volunteered their own time to do this. When they’ve done a great job, please acknowledge it!</p>

<h2>2. Be prepared.</h2>

<p>Please respect the time of your mentors. This means, show up when you say you will, or try and give plenty of notice if you need to rearrange.</p>

<p>Think about your goal for this process and share these with your mentor. What made you apply to this programme?</p>

<p>This is one of the MOST important things you can do. In order to come up with goals, decide what you want from your mentor as a person and as a fellow developer.</p>

<p>The best goals are concrete and make it easy for you mentor to help you accomplish them. Examples include:</p>

<ul>
  <li>I am looking to get better at job interviews and secure my first job.</li>
  <li>I don’t understand <i>>this</i> part of Ruby or Rails. I’d like to know more.</li>
  <li>I’m struggling to learn and work in my first role. What things can I do to feel better.</li>
</ul>

<p>Also, start making a list of things you might like to ask, both in this meeting and later ones.</p>

<p>You might also want to include some information about yourself to help give your mentor context:</p>

<ul>
  <li>Where are you located? Time zone?</li>
  <li>Do you have a preferred way to meet? (Zoom, FaceTime, not bothered what tool... What time or day?</li>
  <li>Age? Where you are in your life? Advice might change depending on your life circumstances!</li>
  <li>What’s your experience with Ruby/Rails/prgramming in general? Links to things on the Internet (twitter, website, linkedin, etc)</li>
  <li>What are some of your interests and hobbies outside of programming?</li>
</ul>

<h2>3. Be realistic.</h2>

<p>Do not assume that your mentor is super senior OR that there is nothing <i>you</i> can teach them in return. A mentorship relationship is a two-way street and everyone learns something from each other.</p>

<h2>4. Be in touch!</h2>

<p>If you have any questions about the process drop me an email, by replying to this one.</p>

<p>And I’d <b>LOVE</b> it if you could also drop me a note with anything your mentor says or does that particularly helps you.</p>

<p>I’m looking to continually improve this programme and part of that is to continually take your feedback about what’s working and what isn’t and then pass that on to the next groups of folks starting up a mentoring relationship.</p>

<p>Good luck!</p>
