<p>Hi there</p>

<p>Month three! Already! Your mentee should shortly be in touch to sort out their mentorship session.</p>

<p>Their email is:</p>

<p><b><%= link_to @applicant&.email || "nope", "mailto:#{@applicant&.email}" %></b></p> 

<p>Give them a chase if they're not in touch this week. If you've completely failed to connect by this point, please let me know and we'll get it sorted out. Sometimes it’s life, sometimes it is overly enthusiastic spam filters.</p>

<hr />

<h2>Mistakes were made and probably by you?</h2>

<p>A thing to think about this month.</p>

<p>We can agree or disagree about the specific definitions of "Imposter Syndrome" but there's no doubt that in the early stages of our career, or in a new situation, we are all prone to doubt our own place and idealise the expertise of others.</p>

<p>I'm encouraging your mentee to look at you as a real person who has no doubt made mistakes in their career. Technological errors. Bugs in production. Upsetting folks you work with. All of the above!</p>

<p>Sorry that they will no longer revere you as a programming god. :-)</p>

<p>That said if they do bring it up, feel free to tell a tale of your errors and reassure them that you'll keep making mistakes as you learn and so will they. The trick is not to keep repeating those mistakes. <i>Right?</i></p>

<h2>Let me know how it's going!</h2>

<p>I'd love to hear about the discussions you're having. Let me know about any of the following and I can tailor these emails to help the next batch of mentees through the programme:</p>

<ul>
  <li>Specific challenges your mentee faces.</li>
  <li>Areas of Ruby, Rails and programming in general that they find puzzling.</li>
  <li>Resources you are recommending to them.</li>
</ul>

<p>Just hit reply! Speak soon.</p>