<p>Hey there,</p>

<p>Your mentee should shortly be in touch to sort out their mentorship session.</p>

<p>Their email is:</p>

<p><b><%= link_to @applicant&.email || "nope", "mailto:#{@applicant&.email}" %></b></p> 

<hr />

<p>One of the difficulties that we have as more experienced programmers is that we can no longer truly feel what it is to not know a concept that we’ve learned.</p>

<p>It can be a struggle, if we’re not used to coaching or teaching, to explain a concept that we’ve internalised. This is one of the best reasons to take part in this sort of programme if you aren't getting the opportunity in your day job.</p>

<p>A mentor emailed me back and very eloquently described this:</p>

<blockquote>
  <p>I forget what I used to not know. And trying to explain what I know to someone who is learning is like re-packing my mental luggage. I find all sorts of things in there as I try to explain with mouth-words what "just seems intuitive" to me.</p>

  <p>Absolutely <i>nothing</i> is intuitive. But things do become familiar with repetition, until they become muscle memory of one sort or another.</p>
</blockquote>

<p>This is a brilliant way to think about the benefits you’re receiving from this good thing that you are doing for your mentor. You’re great, thank you. Plus you’re actually doing yourself some good too!</p>

<hr />

<p>Let me know how it’s going!</p>

<p>I’d love to hear about the discussions you’re having, let me know great resources you’ve recommended to your mentee.</p>
