<p>Hey there,</p>

<p>Your mentee should shortly be in touch to sort out their mentorship session.</p>

<p>Their email is:</p>

<p><b><%= link_to @applicant&.email || "nope", "mailto:#{@applicant&.email}" %></b></p> 

<hr />

<p>I found out a couple of days ago that one of the applicants to the programme got a job directly via this programme, which makes me incredibly happy.</p>

<p>How good is your mentee? How much have they improved in the months since they met you? Are you hiring? Could you mentor this developer if they worked and met with you more than once a month?</p>

<p>Maybe you’re not a position to hire. But is it time to ask the question of yourself and your team… what could we do to make our Ruby workplace a better place to hire juniors?</p>

<p>I suspect you already know what it would take, you’re already doing the hard bit of taking part in this programme: you’re doing more than you have to.</p>

<p>When I talk to teams the main reason for not hiring juniors is unspoken. We had it in my team. It’s the fear of doing a bad job with someone’s career.</p>

<p>Except you’re doing good work with your mentee, aren’t you? You’re already helping. You could do that at your place of work?</p> 

<p>Maybe it’s too soon to start, but it’s probably fine to start having the conversation. Maybe with your boss at your next 1-2-1, or with your colleagues over lunch or coffee. Mention how much you’re enjoying the mentoring you’re doing here… and what could you do to make your workplace a great place for juniors?</p>

<hr />

<p>Let me know how it’s going!</p>

<p>Are you already hiring juniors? If you are, let me know!</p>

<p>I’d love to hear about the discussions you’re having, with your mentee and with your workmates.</p>
