<p>Hey there,</p>

<p>Your mentee should shortly be in touch to sort out their final mentorship session.</p>

<p>Their email is:</p>

<p><b><%= link_to @applicant&.email || "nope", "mailto:#{@applicant&.email}" %></b></p> 

<hr />

<p>You’re released from your commitment!</p>

<p>By all means kep in touch with your mentee, either on. regular or occasional basis, but you definitely shouldn’t feel that you’ve got to keep meeting. You’ve already done a great thing by agreeing to be part of this programme.</p>

<p>If you feel pressure to keep meeting them, but you’re worried about an ongoing commitment, maybe nudge them back to occasional emails or suggest they look for another mentor in their workplace.</p>

<p>I’m undecided about putting folks back through the programme at this point. But that’s as much an administrative thing for me and my spreadsheets at the moment!</p>

<p>In an ideal world the mentees would, in a year or so, be willing to mentor someone coming along a year or two behind them. They should be looking for mentors, but not as the purely junior party, maybe that's something to leave them with—it's too easy to stay in a junior mindset in a career where there's always new things to learn and new ways to mess up.</p>

<hr />

<p>Let me know how it went for you!</p>

<p>I’m not going to reassign you for the foreseeble future. When I do want to put you back out there, I’ll drop you a note for you to confirm that you’re willing to take on another fresh rubyist.</p>

<p>Thank you SO MUCH for being a part of this. You’re really doing a great service for your community.</p>
