<p>Hello there,</p>

<p>Your mentee should shortly be in touch to sort out their second mentorship session.</p>

<p>Their email, in case you forgot, is:</p>

<p><b><%= link_to @applicant&.email || "nope", "mailto:#{@applicant&.email}" %></b></p> 

<p>Give them a chase if they’re not in touch this week. I’ve heard of a these emails ending up in spam filters, so that might be the reason.</p>

<p>If you haven’t heard from them at all, <b>try once more</b>, then let me know by the end of the month and I’ll pop your emails out of the programme and put you back in the metaphorical pile of mentors I’ve got. Another new Rubyist will need your help soon enough.</p>

<hr />

<p>I’ve asked them to think about goals they have for this mentoring. They should—if they’ve followed my advice—be specific and have a realistic timeline. Scope the problem!</p>

<p>I also suggested they might want to break the goal down, but I suspect that exercise might be a good one for this month. You can helping them with trying to work out the in-between steps on your call!</p>

<p>Remember, you don’t have to help them acheive their every dream. Solid steps in the actual direction of a goal are success enough. But if you aren’t clear about the destination, how will you know if you’re going in the right direction.</p>

<hr />

<p>Additionally, let me reveal some of my secret plan. I’m looking to pull together a list of high quality resources for early career folks (and the questions/concerns that prompt them) that we can share back from this programme.</p>

<p>I’d love to hear about the concerns your mentees had plus any resources you might already have recommended. Just reply to this email.</p>

