<p>Hey there,</p>

<p>I'm <a href="https://andycroll.com">Andy</a> from <a href="https://firstrubyfriend.org">First #RubyFriend</a>, a volunteer effort to get new folks to meet experienced Ruby programmers.</p> 

<p>It might be some time since you signed up to be a mentor. For more details of the programme, head to firstrubyfriend.org for a refresher!</p>

<p>The expectation is set at a (very manageable) six half-hour sessions over the next six months. Some folks end up doing more, if they find they can really help their mentee and get a lot out of it themselves. There is no pressure to do that. Six meetings is plenty of time to make a positive difference.</p>

<p>That said... you’ve been paired up with an early career developer as part of the first #rubyfriend programme! Thank you.</p>

<p>Their email is:</p>

<p><b><%= link_to @applicant&.email || "nope", "mailto:#{@applicant&.email}" %></b></p> 

<p>First things first, they should be emailing you to try and arrange your first catchup. They should include their bio, plus hopefully some idea of what they are hoping to achieve from this mentorship arrangement.</p>

<p>If you have a calendly or savvycal link or similar, feel free to use that to schedule a meeting with your new mentee.</p>

<p>If they aren’t in touch in with you in the next week or so, give them a chase. Sometimes these emails end up in spam, or your mentee might be nervous to interrupt. But you’re a friendly person, so please email them to try and get in touch.</p>


<h2>1. Be empathetic</h2>

<p>I’m sure, given you’ve volunteered for this programme, that you’re keen to be understanding and help your mentee.</p>

<p>Try to put yourself in their shoes! Remember what it was like when coding seemed mysterious and you didn’t realise that everyone was pretending too! Or what it was like when everyone was talking about a language that you barely understood.</p>

<p>Try and align any advice you have with the goals of your mentee.</p>

<p>Don’t use language like, “How do you not know this?” Be patient when explaining something technical. Some of the mentees are very early in their careers and may have little experience with Ruby, but are excited to learn.</p>


<h2>2. It’s OK not to know</h2>

<p>If your mentee asks you a question you don’t have an answer to, or even that you don’t feel you can answer in the moment, it is OK to say you don’t know! Or that you’ll do some digging, find out, and get back to them.</p>

<p>But do get back to them.</p>

<p>If it’s something you want a second opinion on, feel free to get in touch. You can just reply to this email. I will get back to you, perhaps not immediately, but I will.</p>


<h2>3. Be humble</h2>

<p>Do not assume that your mentee is inexperienced (they might be a career-changer who's done impressive things in a previous job) or that there is nothing you can learn from them. A mentorship relationship is a two-way street and everyone can learn something from each other. It’s entirely possible you’ll learn a bunch of things, even if it’s re-examining what you think as you answer their questions.</p>

<p>You should feel free to point your mentee at other the wealth of resources, talks, books, blog posts and other useful Ruby education. And definitely point out how there can be different points of view on how to solve similar problems.</p>

<p>Encourage them to reach out to their peers and the more senior folks in their organisation to get other points of view on how to solve their problems and achieve their goals.</p>


<h2>4. Stay in touch (with me!)</h2>

<p>If you have any questions about the process drop me an email, by replying to this one.</p>

<p>And I’d LOVE it if you could also drop me a note with anything your mentee says or does that lets you give advice you’re particularly proud of!</p>

<p>I’m looking to continually improve this programme and part of that is to continually take your feedback about what’s working and what isn’t and then pass that on to the next groups of folks starting up a mentoring relationship.</p>

<p>I'm also trying to collate a bunch of useful resources that we can later provide to the wider community.</p>

<p>Good luck!</p>