<div class="bg-blue-500 text-white p-4 rounded-lg">
  <h1>Hello</h1>
</div>


<% if !Current.session %>
  <div>
    <%= link_to "Sign in", sign_in_path %>
    <%= render "sessions/github_oauth_button" %>
  </div>
<% end %>
