<div class="md:flex md:items-center gap-4 md:justify-between bg-green-700 rounded p-2 mb-3">
  <%= icon "check-badge", class: "size-16 text-white" %>
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">
      Your mentor is XXX
    </h2>
  </div>
</div>
